a {
    color: black;
}

a:active {
    color: #ffffff;
}

a[tabindex]:focus {
    color: #ffffff;
    outline: none;
}

.status {
    text-align: center;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.green {
    background-color: #A9FACF;
}

.red {
    background-color: #F9A9A5;
}

.description {
    background-color: #FCE1AA !important;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;

    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

pre {
    background-color: #E9E9E9;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: large;
}

.highlight {
    background-color: white !important;
    border-style: groove;
    border-color: #FCE1AA;
}

pre .json {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

table {
    width: 100%;
}

.header {
    border: 1px solid #dddddd;
    background: #e9e9e9;
    color: #333333;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
}

h1 {
    text-align: center;
    margin: 0;
}

.dt-buttons {
    margin-left: 50px;
}

.link {
    -webkit-transition: transform .3s ease-in-out;
    -moz-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    filter: invert(65%);
}

.link-container:hover .link {
    transform: scale(1.2);
}

.info-link {
    width:32px;
    height:32px;
}

.help-link {
    width:40px;
    height:40px;
}

/*table#violations.dataTable tbody tr:hover {*/
/*    background-color: rgba(144, 178, 202, 0.2) !important;*/
/*}*/
